include ./includes/head
block header
    include ./includes/header

block banner
.content
  .row
    section.section-padding
      include ./includes/_flash

block content

block footer
    include ./includes/footer
