.row
  form(method="post").col.s12
    .row
      .input-field.col.s12.m6
	    input(placeholder="At least #{minimumPasswordLength} characters", type="password", name="password", id="password", class="validate", required, autofocus)
        label(for="password") Password
      .input-field.col.s12.m6
	    input(type="password", name="confirmPassword", id="confirmPassword", class="validate", required)
        label(for="confirmPassword") Confirm Password
    .row
      .input-field.col.s12
        include _csrf-token
        button.btn.waves-effect.waves-light Submit
        a.btn-flat.waves-effect.waves-light(href="/") Cancel
