extends layouts/app

block content
    .card-panel.red.darken-2.white-text
        i.material-icons.left error_outline
        | #{message}
    pre #{error.stack}
    p
        a.btn.waves-effect.waves-light(href="/") Go home
