extends ../layouts/app
block variables
  - 
    var page_title = 'I am the home page'
    var description = 'Janus Nic Node Project'
block content
  section#feature.section-padding
    .container
      .row
        .header-section.text-center
          h2= title
        hr.bottom-line

