body
  nav.navbar.navbar-default.navbar-fixed-top
    .container
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#myNavbar')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        |
        a.navbar-brand(href='/')
          | Janus
          span Nic
      #myNavbar.collapse.navbar-collapse
        ul.nav.navbar-nav.navbar-right
          li
            a(href='/') Home
          li
            a(href='/about') About
          li
            a(href='/contact') Contact
          
          if (!user)
            li
              a(href='/user/login') Signin
            li
              a(href='/user/register') Signup
          else
            li
            a(href='/user/profile') Profile
            li
              a(href='/user/logout') Logout
          li.btn-trial
            a(href='/blog') Blog
