extends ../../layouts/admin

block content
  section#feature.section-padding
    .container
      .row
        hr.bottom-line
        div.container
          div.row
            div.col-md-10
              h2= post.title
              div= post.content
